<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h1><b>Beneficios de elegir Niu Locker</b></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt modi illum sapiente tenetur unde
                iam sint reprehenderit nulla assumenda necessitatibus! Nemo tempore perspiciatis, dignissimos
                reiciendis animi temporibus pariatur aliquid assumenda!
            </p>
            <br>
        </div>
        <div class=" col-sm ">

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas sunt excepturi quis a quasi asperiores
                voluptas nam ab illum expedita officiis sapiente esse distinctio debitis, voluptates, recusandae
                possimus
                sed soluta!
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas sunt excepturi quis a quasi asperiores
                voluptas nam ab illum expedita officiis sapiente esse distinctio debitis, voluptates, recusandae
                possimus
                sed soluta!
            </p>


        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm">
                <h1> Disfruta de tu tiempo, tu paquete está seguro</h1>
                <p>Niu Locker te brinda seguridad y tranquilidad gracias
                    a nuestra tecnología, recibe y retira tus encomiendas 24/7, tu paquete estará seguro con nosotros.
                </p>
                <h2> ¿Por qué elegir Niu Locker?</h2>
                <p>Te damos la tranquilidad de poder retirar tus encomiendas de manera segura en un horario que se
                    ajuste a tu disponibilidad y con la facilidad que proporciona nuestra app móvil.
                </p>
            </div>
            <div class="col-sm" style="background: none;">
                <h4>¿Como funciona NIU LOCKER?</h4>

            </div>
        </div>
        <app-footer></app-footer>